.App {
  	min-height: 638px;
  	display: block
}
.App_Content {
	min-height: 568px;
}
.header {
	height: 70px;
	background-color: #06c
}
.ant-layout-sider-trigger {
	background: #06c
}
.ant-layout-content {
	min-width: 900px;
}
/* .highcharts-container {
	width: 90%;
}
.highcharts-root {
	width: 947px;
} */